  .naruto {
      width: 303px;
      height: 250px;
      border-radius: 3px;
      box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.05);
      margin-top: 40px;

       &:hover {
    transform: scale(1.02);
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  }

  .rembini {
      h1 {
          width: 375px;
          height: 43px;
          color: var(--Dark brown, rgba(49, 30, 25, 1));
          font-family: Merriweather;
          font-size: 34px;
          font-weight: 400;
          line-height: 100%;
          letter-spacing: 0%;
          text-align: left;
          margin-top: 100px;
          margin-left: 20px;
      }
  }

  .rem-photos {
      display: flex;
      gap: 30px;
  }