.brendy {
    width: 1450px;
    height: 460px;
    background: rgba(59, 67, 85, 1);
    margin: auto;
    position: relative;
    margin-top: 80px;

    h3 {
        width: 249px;
        height: 43px;
        color: rgba(240, 239, 237, 1);
        font-size: 34px;
        font-family: Merriweather;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: left;
        margin-left: 640px;
        position: absolute;
        top: 86px;
    }

    .brendsss {
        display: flex;
        gap: 30px;
        justify-content: center;
        position: absolute;
        left: 90px;
        top: 220px;
    }

    button {
        width: 192px;
        height: 50px;
        border: 1px solid rgba(238, 178, 86, 1);
        border-radius: 3px;
        color: rgba(238, 178, 86, 1);
        background: transparent;
        position: absolute;
        left: 640px;
        top: 350px;
    }

    img {
        width: 100px;
        height: 40px;
        object-fit: contain;
    }

    .godjo {
        width: 192px;
        height: 70px;
        border-radius: 3px;
        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
        background: rgba(255, 255, 255, 1);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}