.banner {
    width: 1350px;
    height: 501px;
    margin: auto;
    display: flex;
    border-radius: 100px;
   
    .images-d{
       width: 1350px;
       height: 501px;
       border-radius: 100px;
       margin: auto;
    }
}
